* {
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 76, 143);
  width: 100%;
  height: 100%;
}
.container {
  background-color: rgb(28, 32, 77);
  width: 600px;
  height: 500px;
  text-align: center;
  padding: 25px;
  margin: 25px auto;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 100px;
  color: rgb(70, 111, 173);
}
#newtask {
  position: relative;
  padding: 30px 20px;
}
#newtask input {
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#newtask input:focus {
  outline: none;
  border-color: #0d75ec;
}
#newtask button {
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
}

.task {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}
.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.task button {
  background-color: #0a2ea4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  border-radius: 5px;
}
