.contactPage {
  margin: 0px;
  padding: 0px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom right, #f4a460 80%, #f9efd7 100%);
  font-family: Arial;
  font-size: 1.6rem;
  color: #461e00;
  border-radius: 10px;
  border-style: ridge;
  border-color: #000000;
  border-width: 1px;
  width: 50rem;
  height: 35rem;
  margin: 20px;
}

.formTitle {
  background: linear-gradient(to bottom right, #800000, #000000 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 500px;
  font-family: serif;
  font-size: 5rem;
  margin: 10px;
}

.formRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
  margin: 10px;
}

.formLabelInput {
  display: flex;
  flex-direction: column;
}

label {
  font-family: serif !important;
  font-weight: 500px !important;
  font-size: 25px !important;
}
input {
  font-size: 20px !important;
  border-radius: 15px;
  border-style: ridge;
  border-color: #000000;
  background-color: #faead2;
  font-weight: normal;
  font-family: sans-serif;
  padding: 10px;
  border-width: 3px;
}
input:focus {
  outline: none;
}

.formInputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.labelEmail {
  display: flex;
  flex-direction: row;
}
#email {
  display: flex;
  width: 600px;
}

.formTextarea {
  display: flex;
  font-size: 15px !important;
  border-radius: 15px;
  border-style: ridge;
  box-shadow: 2px 2px 2px black;
  background-color: #faead2;
  font-weight: normal;
  font-family: sans-serif;
  padding: 10px;
  border-width: 3px;
  width: 600px;
  height: 150px;
  margin: 10px;
}

.formFooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.formTextCount {
  position: relative;
  left: 4rem;
}

.formButton {
  position: relative;
  display: flex;
  border: 0.2rem solid #000000;
  background-image: linear-gradient(to top, #cd853f 10%, #f4a460);
  width: 6rem;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  justify-content: center;
  left: 5rem;
  top: 1rem;
}

.formButton:hover {
  background-image: linear-gradient(to bottom right, #f4a460 20%, #f9efd7);
}
