header {
  display: flex;
  flex-direction: column;
  background-color: orangered;
  height: 150px;
  gap: 10px;
  padding: 10px;
  color: whitesmoke;
  font-family: "Times New Roman";
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.headerH1 {
  color: black;
  margin-top: 20px;
  font-family: serif !important;
  font-weight: 500px;
  font-size: 75px;
}
.headerList {
  display: flex;
  margin: 0px 50px;
  top: 20px;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}

li {
  list-style-type: none;
  font-size: 25px;
  cursor: pointer;
}

.link {
  text-decoration: none !important;
  position: relative;
  color: whitesmoke !important;
}
.link:hover::after {
  width: 100%;
}
