.bannerContent {
  display: flex;
  flex-direction: column;
  background-color: orangered;
  color: whitesmoke;
  padding: 10px;
  font-family: "Times New Roman";
}
span {
  font-size: 25px;
}
h2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}
h2 {
  font-size: 50px;
}
.bannerDot {
  font-size: 75px;
  color: black;
  font-weight: bolder;
}
